In [1]:
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.appName("ProgramAnalysis").getOrCreate()

from pyspark.sql import SQLContext
sqlContext = SQLContext(sparkSession)

In [2]:
# Read from HDFS
program = sqlContext.read.parquet('hdfs://172.18.0.2:8020/Project/Data/Program/program.parquet')
program.registerTempTable("program_table");

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [34]:
#program data where Parent exists
program_data=sqlContext.sql("""
select 
    PARENT_PROGRAM_ID,
    PROGRAM_ID,
    MASTER_TITLE,
    CATEGORY_ID,
    count(distinct PROGRAM_ID) as COUNT,
    min(EVENT_DATE) as MIN_DATE,
    max(EVENT_DATE) as MAX_DATE
from program_table 
where 
    EVENT_DATE > '2017-12-31' and 
    EVENT_DATE < '2019-01-01' and 
    PARENT_PROGRAM_ID is not null
group by 
    PARENT_PROGRAM_ID,
    PROGRAM_ID,
    MASTER_TITLE,
    CATEGORY_ID
order by 
    5 desc
""")

In [35]:
#converting all the spark.dataframes to pandas dataframes
program_pd=program_data.toPandas()

In [36]:
program_pd.head()

,PARENT_PROGRAM_ID,PROGRAM_ID,MASTER_TITLE,CATEGORY_ID,COUNT,MIN_DATE,MAX_DATE
0,10051836,3616993,Cámbiame el look,8,1,2018-11-19 21:00:00.000,2018-11-19 21:00:00.000
1,10149424,276527,Splash and Bubbles,3,1,2018-05-23 10:30:00.000,2018-05-23 10:30:00.000
2,10716620,10797468,Juste pour rire les Gags - Full Ado,5,1,2018-05-12 22:30:00.000,2018-05-12 22:30:00.000
3,10793217,1460897,Lucifer,5,1,2018-06-25 21:35:00.000,2018-06-25 21:35:00.000
4,10958109,1468876,Forged in Fire,5,1,2018-07-03 21:00:00.000,2018-07-03 21:00:00.000

In [37]:
program_pd[program_pd.PARENT_PROGRAM_ID == program_pd.PROGRAM_ID]

Empty DataFrame
Columns: [PARENT_PROGRAM_ID, PROGRAM_ID, MASTER_TITLE, CATEGORY_ID, COUNT, MIN_DATE, MAX_DATE]
Index: []

False