In [1]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._

val spark = SparkSession.builder
      .appName("dsg_prg")
      .master("local[*]")
      .config("spark.sql.sources.partitionOverwriteMode","dynamic")
      .enableHiveSupport()
      .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://10.177.230.10:4041
SparkContext available as 'sc' (version = 2.3.1, master = local[*], app id = local-1554426554870)
SparkSession available as 'spark'

2019-04-05 06:39:20 WARN  SparkContext:66 - Using an existing SparkContext; some configuration may not take effect.

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@4e675257

2019-04-05 07:44:25 WARN  HeartbeatReceiver:66 - Removing executor driver with no recent heartbeats: 1272117 ms exceeds timeout 120000 ms
2019-04-05 07:44:25 ERROR TaskSchedulerImpl:70 - Lost an executor driver (already removed): Executor heartbeat timed out after 1272117 ms
2019-04-05 07:44:25 WARN  SparkContext:66 - Killing executors is not supported by current scheduler.

In [2]:
val campaign_program = spark.read.parquet("/Users/mthota/Dropbox/Data/Data/CAMPAIGN_PROGRAM")
campaign_program.createOrReplaceTempView("CAMPAIGN_PROGRAM")

2019-03-24 16:48:45 WARN  Utils:66 - Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.

campaign_program: org.apache.spark.sql.DataFrame = [PROGRAM_ID: int, SUBCATEGORY_ID: int ... 29 more fields]

In [3]:
val active_qa = spark.read.option("header","true").csv("active_devices_qa.csv")

active_qa: org.apache.spark.sql.DataFrame = [ACTIVE: string]

In [4]:
val program = spark.read.parquet("/Users/mthota/Dropbox/Data/Data/Program/Parquet/")

program: org.apache.spark.sql.DataFrame = [PROGRAM_ID: string, SUBCATEGORY_ID: string ... 28 more fields]

In [5]:
program.printSchema

root
 |-- PROGRAM_ID: string (nullable = true)
 |-- SUBCATEGORY_ID: string (nullable = true)
 |-- PROGRAM_SOURCE_ID: string (nullable = true)
 |-- PROGRAM_AIRING_TYPE_ID: string (nullable = true)
 |-- CATEGORY_ID: string (nullable = true)
 |-- CAPTION_ID: string (nullable = true)
 |-- PROGRAM_COLOR_TYPE_ID: string (nullable = true)
 |-- MASTER_TITLE: string (nullable = true)
 |-- RELEASE_YEAR: string (nullable = true)
 |-- EPISODE_TITLE: string (nullable = true)
 |-- EPISODE_NUMBER: string (nullable = true)
 |-- STEREO_ENABLED_YN: string (nullable = true)
 |-- STAR_RATING: string (nullable = true)
 |-- SERIES_YN: string (nullable = true)
 |-- RATING_ID_TV_US: string (nullable = true)
 |-- RATING_ID_MOVIE_US: string (nullable = true)
 |-- SERIES_MASTER_YN: string (nullable = true)
 |-- PARENT_PROGRAM_ID: string (nullable = true)
 |-- RUNTIME: string (nullable = true)
 |-- HDTV_YN: string (nullable = true)
 |-- BRACKET_TEXT: string (nullable = true)
 |-- PART_NUMBER: string (nullable = true)
 |-- PART_TOTAL: string (nullable = true)
 |-- ORIGINAL_ADT: string (nullable = true)
 |-- SUBTITLE: string (nullable = true)
 |-- EVENT_DATE: string (nullable = true)
 |-- TAG: string (nullable = true)
 |-- Cosmo_program_id: string (nullable = true)
 |-- link_region_id: string (nullable = true)
 |-- status_code: string (nullable = true)

In [6]:
program.createOrReplaceTempView("PROGRAM")

In [81]:
spark.sql("SELECT  CATEGORY_ID,count(*) FROM PROGRAM GROUP BY CATEGORY_ID ORDER BY CATEGORY_ID").show()

org.apache.spark.sql.AnalysisException:  expression 'program.`Cosmo_program_id`' is neither present in the group by, nor is it an aggregate function. Add to group by or wrap in first() (or first_value) if you don't care which value you get.;;

In [8]:
spark.sql("SELECT  SUBCATEGORY_ID,count(*) FROM PROGRAM GROUP BY SUBCATEGORY_ID ORDER BY SUBCATEGORY_ID").show(100)

+--------------+--------+
|SUBCATEGORY_ID|count(1)|
+--------------+--------+
|             1|   17821|
|            10|    1457|
|            11|   29005|
|            12|   67521|
|            13|    9530|
|            14|   19393|
|            15|   46006|
|            16|   56934|
|            17|   17420|
|            19|     638|
|             2|    2240|
|            20|    1190|
|            21|   15011|
|            22|    9743|
|            23|    3059|
|            24|    2877|
|            25|    4307|
|            26|    1973|
|            27|    5132|
|            28|   10220|
|      28310142|       1|
|            29|    3376|
|             3|    8738|
|            30|     602|
|            31|    5603|
|            34|     163|
|            35|     472|
|            36|    7871|
|            37|    3845|
|            39|      55|
|             4|    3087|
|            40|    3174|
|            41|    1136|
|            42|    1050|
|            43|    2820|
|            44|   27825|
|            45|   12731|
|            46|      34|
|            47|    7433|
|            48|    2945|
|            49|    3071|
|            50|    1500|
|            51|   11896|
|            52|   21651|
|            53|    8074|
|            54|    9045|
|            55|    1148|
|            56|     208|
|            57|    5380|
|            58|     735|
|            59|     347|
|             6|    8506|
|            60|    9276|
|            61|     761|
|            62|     511|
|            63|    1594|
|            65|    4693|
|            66|      43|
|            67|     109|
|            69|    1158|
|             7|   14519|
|            70|    3565|
|            71|    1639|
|            72|     242|
|            73|    1091|
|            74|    6192|
|            75|   12427|
|            76|    3369|
|            77|     623|
|            78|    1643|
|            79|    2805|
|             8|    2769|
|            80|    3492|
|            81|     102|
|            82|       1|
|            83|    1353|
|            84|    6352|
|             9|     836|
|          NULL|  252579|
+--------------+--------+

## Category : Movies

In [9]:

spark.sql("SELECT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 1").show(10,false)

+------------------------+
|MASTER_TITLE            |
+------------------------+
|High School High        |
|The Crow: City of Angels|
|Tin Cup                 |
|The Cable Guy           |
|The Nutty Professor     |
|Twister                 |
|The Craft               |
|Fargo                   |
|The Long Kiss Goodnight |
|The Preacher's Wife     |
+------------------------+
only showing top 10 rows

## Category : Sports

In [10]:
spark.sql("SELECT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 2").show(10,false)

+----------------+
|MASTER_TITLE    |
+----------------+
|Pinks: All Out  |
|MLB Baseball    |
|NHL Hockey      |
|NHL Hockey      |
|MLB Baseball    |
|Super Rugby     |
|Fútbol Inglés   |
|Fútbol Portugués|
|Super Rugby     |
|MSG Vault       |
+----------------+
only showing top 10 rows

## Category :  Cartoon/Kids

In [11]:
spark.sql("SELECT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 3").show(10,false)

+-------------------------------+
|MASTER_TITLE                   |
+-------------------------------+
|Pinky and the Brain            |
|Children's Day Celebration     |
|Baby Looney Tunes              |
|The Wild Thornberrys           |
|Hey Dude                       |
|The Wild Thornberrys           |
|The Wild Thornberrys           |
|Ben 10                         |
|Pinky and the Brain            |
|The Mystery Files of Shelby Woo|
+-------------------------------+
only showing top 10 rows

## Category : News

In [12]:
spark.sql("SELECT DISTINCT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 4").show(10,false)

+---------------------------------------+
|MASTER_TITLE                           |
+---------------------------------------+
|NH Outlook                             |
|WRAL's 12:30 Report                    |
|ETTV CITY NEWS AND EZ NEWS             |
|Reportagem especial                    |
|NewsChannel 9 Saturday                 |
|Mini Programa IFE                      |
|Senate Judiciary Committee             |
|CW News @ 9                            |
|ABC2 News: Good Morning Maryland 5:30AM|
|KIMT News 3 at 6:00                    |
+---------------------------------------+
only showing top 10 rows

## Category : Lifestyle

In [13]:
spark.sql("SELECT DISTINCT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 5").show(10,false)

+---------------------------+
|MASTER_TITLE               |
+---------------------------+
|The Hasselhoffs            |
|The Lost Tomb of Jesus     |
|Top Chef: Las Vegas        |
|Skating With the Stars     |
|Next Iron Chef: Super Chefs|
|The Partridge Family       |
|A Todo Gas                 |
|BDTV                       |
|Movie That Wouldn't Die    |
|Sunday Rooster             |
+---------------------------+
only showing top 10 rows

## Category : Food

In [14]:
spark.sql("SELECT DISTINCT MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 8").show(10,false)

+-----------------------------+
|MASTER_TITLE                 |
+-----------------------------+
|What America Eats            |
|Boy Meets Grill              |
|Recipe to Riches             |
|Peter Parfait                |
|Kitchen Concepts             |
|Comment c'est fait           |
|Effortless Style by Citiknits|
|Ad Factory                   |
|The Doctors                  |
|Focus on the Force           |
+-----------------------------+
only showing top 10 rows

## Category : Music

In [15]:
spark.sql("SELECT  MASTER_TITLE FROM PROGRAM where CATEGORY_ID = 9").show(10,false)

+----------------------------------------+
|MASTER_TITLE                            |
+----------------------------------------+
|Pennsylvania Polka                      |
|In Performance at the Governor's Mansion|
|The Fish                                |
|Branson Jubilee                         |
|Dolly                                   |
|In Performance at the Governor's Mansion|
|2010 MTV Video Music Awards             |
|Don't Forget the Lyrics!                |
|Hoppus on Music                         |
|CMA Country Christmas                   |
+----------------------------------------+
only showing top 10 rows

## Category : NULL/null Analysis

In [16]:
// old data - dates spanning between 1956 t0 2007 
// discard candiates - 1
spark.sql("SELECT  distinct master_title FROM PROGRAM where CATEGORY_ID = 'NULL'").show(10,false)
spark.sql("SELECT  * FROM PROGRAM where PARENT_PROGRAM_ID = 3513").show(10,false)

+----------------------------+
|master_title                |
+----------------------------+
|L'un contre l'autre         |
|The Young Ones              |
|Der Cop                     |
|Alcaline                    |
|James Martin's Mediterranean|
|The City                    |
|Aircrash Confidential       |
|Wander Over Yonder          |
|Crisis                      |
|Diplomatie                  |
+----------------------------+
only showing top 10 rows

+----------+--------------+-----------------+----------------------+-----------+----------+---------------------+----------------------+------------+--------------------------------------------------------------------------------+--------------+-----------------+-----------+---------+---------------+------------------+----------------+-----------------+-------+-------+------------+-----------+----------+-----------------------+--------+----------+-------------------------------------------------+----------------+--------------+-----------+
|PROGRAM_ID|SUBCATEGORY_ID|PROGRAM_SOURCE_ID|PROGRAM_AIRING_TYPE_ID|CATEGORY_ID|CAPTION_ID|PROGRAM_COLOR_TYPE_ID|MASTER_TITLE          |RELEASE_YEAR|EPISODE_TITLE                                                                   |EPISODE_NUMBER|STEREO_ENABLED_YN|STAR_RATING|SERIES_YN|RATING_ID_TV_US|RATING_ID_MOVIE_US|SERIES_MASTER_YN|PARENT_PROGRAM_ID|RUNTIME|HDTV_YN|BRACKET_TEXT|PART_NUMBER|PART_TOTAL|ORIGINAL_ADT           |SUBTITLE|EVENT_DATE|TAG                                              |Cosmo_program_id|link_region_id|status_code|
+----------+--------------+-----------------+----------------------+-----------+----------+---------------------+----------------------+------------+--------------------------------------------------------------------------------+--------------+-----------------+-----------+---------+---------------+------------------+----------------+-----------------+-------+-------+------------+-----------+----------+-----------------------+--------+----------+-------------------------------------------------+----------------+--------------+-----------+
|1511840   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2010        |Best of Oprah: Oprah's Farewell Season Premiere With Special Guest John Travolta|09132010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-13 00:00:00.000|NULL    |NULL      |25th Season Premiere 09132010=12132010 = 05262011|17611695        |3             |2          |
|1511842   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2010        |Best of Oprah---Exclusive: How Wynonna Judd Survived the Ultimate Betrayal      |09142010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-14 00:00:00.000|NULL    |NULL      |09142010=12082010=06072011                       |17611697        |3             |2          |
|1511845   |54            |6398             |NULL                  |5          |1         |1                    |Oprah Winfrey         |2010        |NULL                                                                            |09162010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-16 00:00:00.000|NULL    |NULL      |NULL                                             |NULL            |3             |2          |
|1511846   |54            |6398             |NULL                  |5          |1         |1                    |Oprah Winfrey         |2010        |NULL                                                                            |09172010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-17 00:00:00.000|NULL    |NULL      |NULL                                             |NULL            |3             |2          |
|1903590   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2010        |"Waiting for Superman": The Movement That Could Revolutionize America's Schools |09202010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-20 00:00:00.000|NULL    |NULL      |NULL                                             |17999322        |3             |2          |
|1903615   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2010        |"The Daily Show's" Jon Stewart & Living Legend Liza Minnelli                    |09212010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-21 00:00:00.000|NULL    |NULL      |NULL                                             |17999347        |3             |2          |
|1903643   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2010        |Exclusive: The Bravest Mom in the World Set Free: Ingrid Betancourt             |09222010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-22 00:00:00.000|NULL    |NULL      |NULL                                             |17999374        |3             |2          |
|1903680   |54            |6398             |NULL                  |5          |1         |1                    |Oprah Winfrey         |2010        |NULL                                                                            |09242010      |Y                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2010-09-24 00:00:00.000|NULL    |NULL      |NULL                                             |NULL            |3             |2          |
|4129807   |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2004        |The Funniest People in America                                                  |NULL          |N                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |NULL                   |NULL    |NULL      |04152004                                         |NULL            |3             |2          |
|10862241  |54            |6398             |NULL                  |5          |1         |1                    |The Oprah Winfrey Show|2009        |Exclusive: Elizabeth Edwards' First Interview                                   |05072009      |N                |NULL       |Y        |13             |NULL              |N               |3513             |3600   |N      |NULL        |NULL       |NULL      |2009-05-07 00:00:00.000|NULL    |NULL      |NULL                                             |NULL            |3             |2          |
+----------+--------------+-----------------+----------------------+-----------+----------+---------------------+----------------------+------------+--------------------------------------------------------------------------------+--------------+-----------------+-----------+---------+---------------+------------------+----------------+-----------------+-------+-------+------------+-----------+----------+-----------------------+--------+----------+-------------------------------------------------+----------------+--------------+-----------+
only showing top 10 rows

In [17]:
val cat_df = spark.sql("SELECT CATEGORY_ID,SUBCATEGORY_ID ,COUNT(*) FROM PROGRAM WHERE CATEGORY_ID !='NULL' GROUP BY CATEGORY_ID,SUBCATEGORY_ID ORDER BY 3 DESC ")
cat_df.show()

+-----------+--------------+--------+
|CATEGORY_ID|SUBCATEGORY_ID|count(1)|
+-----------+--------------+--------+
|          5|            12|   50564|
|          5|            15|   40943|
|          5|            16|   32520|
|          3|            11|   29001|
|          5|            44|   26762|
|          1|            16|   23963|
|          5|          NULL|   18807|
|          5|            52|   17693|
|          5|            14|   15933|
|          8|            21|   15007|
|          1|            12|   14753|
|          2|             7|   14517|
|          5|            45|   12411|
|          4|            75|   11986|
|          2|            51|   11893|
|          3|            17|   10529|
|          8|            28|   10218|
|          2|            22|    9742|
|          2|             6|    8506|
|          2|            53|    8047|
+-----------+--------------+--------+
only showing top 20 rows

cat_df: org.apache.spark.sql.DataFrame = [CATEGORY_ID: string, SUBCATEGORY_ID: string ... 1 more field]

In [18]:
// data imputation for airdate?
spark.sql("SELECT  distinct master_title,episode_title,event_date,original_adt,PARENT_PROGRAM_ID,SUBCATEGORY_ID,RUNTIME FROM PROGRAM where CATEGORY_ID = 'NULL' AND ORIGINAL_ADT != 'NULL' and master_title != 'INVALID'").show(10,false)

+----------------+------------------+----------+------------+-----------------+--------------+-------+
|master_title    |episode_title     |event_date|original_adt|PARENT_PROGRAM_ID|SUBCATEGORY_ID|RUNTIME|
+----------------+------------------+----------+------------+-----------------+--------------+-------+
|Gimme           | Gimme            |NULL      |3254854     |NULL             |NULL          |NULL   |
|Riverboat       |Gäste: Lars Ruppel|NULL      |15381289    |NULL             |NULL          |NULL   |
|Cats 101        |Turkish Van       |NULL      |9201639     |NULL             |NULL          |NULL   |
|Schweiz von oben|SZ                |NULL      |N           |NULL             |NULL          |NULL   |
+----------------+------------------+----------+------------+-----------------+--------------+-------+

In [19]:
spark.sql("SELECT  count(*) FROM PROGRAM where CATEGORY_ID = 'NULL' and master_title != 'INVALID' ").show(100,false)

spark.sql("SELECT  DISTINCT COUNT(*) FROM PROGRAM where CATEGORY_ID = 'NULL' and master_title != 'INVALID' AND EVENT_DATE='NULL' ").show(10,false)
// DELETE INVALID DATA?

spark.sql("SELECT  COUNT(*) FROM PROGRAM where CATEGORY_ID != 'NULL'").show(10,false)

spark.sql("SELECT  COUNT(*) FROM PROGRAM where CATEGORY_ID != 'NULL'  AND (EVENT_DATE != 'NULL' OR ORIGINAL_ADT  !='NULL' OR RELEASE_YEAR !='NULL')").show(10,false)

+--------+
|count(1)|
+--------+
|226502  |
+--------+

+--------+
|count(1)|
+--------+
|226501  |
+--------+

+--------+
|count(1)|
+--------+
|591345  |
+--------+

+--------+
|count(1)|
+--------+
|468298  |
+--------+

In [20]:
// A Program Associated with multiple shows?
spark.sql("SELECT  PROGRAM_ID,count(*) as dsc FROM PROGRAM WHERE ORIGINAL_ADT !=  'NULL' GROUP BY PROGRAM_ID HAVING COUNT(*)>1 order by dsc desc").show(10,false)
spark.sql("SELECT COUNT(*) FROM (SELECT  PROGRAM_ID FROM PROGRAM WHERE ORIGINAL_ADT !=  'NULL' GROUP BY PROGRAM_ID HAVING COUNT(*)>1)").show(100,false)

+----------+---+
|PROGRAM_ID|dsc|
+----------+---+
|14273282  |2  |
|7883020   |2  |
|11541001  |2  |
|7395241   |2  |
|16360008  |2  |
|7820566   |2  |
|13225445  |2  |
|5254912   |2  |
|8110191   |2  |
|15023679  |2  |
+----------+---+
only showing top 10 rows

+--------+
|count(1)|
+--------+
|76      |
+--------+

In [21]:
// How do we interpret this

spark.sql("SELECT PROGRAM_ID,MASTER_TITLE,EPISODE_TITLE,ORIGINAL_ADT,PARENT_PROGRAM_ID,STATUS_CODE FROM PROGRAM WHERE PROGRAM_ID IN (14273282,16360008,7395241)").show(10)

+----------+--------------------+--------------------+--------------------+-----------------+-----------+
|PROGRAM_ID|        MASTER_TITLE|       EPISODE_TITLE|        ORIGINAL_ADT|PARENT_PROGRAM_ID|STATUS_CODE|
+----------+--------------------+--------------------+--------------------+-----------------+-----------+
|  14273282|        The Turnpike|                NULL|2010-02-19 02:30:...|             NULL|          2|
|  16360008|       Inside Access|                NULL|2010-05-24 14:30:...|             NULL|          2|
|   7395241|      Jack Kain Ford|                NULL|2007-12-08 11:30:...|             NULL|          2|
|   7395241|The Amazing World...|The Girlfriend; T...|2016-03-30 00:00:...|          3514167|          1|
|  16360008|  Xtreme Bass Angler|    Wacky White Worm|2018-03-05 00:00:...|          3804919|          1|
|  14273282| First Time Flippers|I Now Pronounce Y...|2017-11-11 00:00:...|         12589475|          1|
+----------+--------------------+--------------------+--------------------+-----------------+-----------+

In [43]:
var program_df = program.withColumn("Year",year(program.col("ORIGINAL_ADT"))).withColumn("Month",month(program.col("ORIGINAL_ADT")))

program_df: org.apache.spark.sql.DataFrame = [PROGRAM_ID: string, SUBCATEGORY_ID: string ... 30 more fields]

In [44]:
program_df.printSchema
program_df.createOrReplaceTempView("PRG")

root
 |-- PROGRAM_ID: string (nullable = true)
 |-- SUBCATEGORY_ID: string (nullable = true)
 |-- PROGRAM_SOURCE_ID: string (nullable = true)
 |-- PROGRAM_AIRING_TYPE_ID: string (nullable = true)
 |-- CATEGORY_ID: string (nullable = true)
 |-- CAPTION_ID: string (nullable = true)
 |-- PROGRAM_COLOR_TYPE_ID: string (nullable = true)
 |-- MASTER_TITLE: string (nullable = true)
 |-- RELEASE_YEAR: string (nullable = true)
 |-- EPISODE_TITLE: string (nullable = true)
 |-- EPISODE_NUMBER: string (nullable = true)
 |-- STEREO_ENABLED_YN: string (nullable = true)
 |-- STAR_RATING: string (nullable = true)
 |-- SERIES_YN: string (nullable = true)
 |-- RATING_ID_TV_US: string (nullable = true)
 |-- RATING_ID_MOVIE_US: string (nullable = true)
 |-- SERIES_MASTER_YN: string (nullable = true)
 |-- PARENT_PROGRAM_ID: string (nullable = true)
 |-- RUNTIME: string (nullable = true)
 |-- HDTV_YN: string (nullable = true)
 |-- BRACKET_TEXT: string (nullable = true)
 |-- PART_NUMBER: string (nullable = true)
 |-- PART_TOTAL: string (nullable = true)
 |-- ORIGINAL_ADT: string (nullable = true)
 |-- SUBTITLE: string (nullable = true)
 |-- EVENT_DATE: string (nullable = true)
 |-- TAG: string (nullable = true)
 |-- Cosmo_program_id: string (nullable = true)
 |-- link_region_id: string (nullable = true)
 |-- status_code: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)

In [24]:
val program_df1 = spark.sql("SELECT CASE CATEGORY_ID WHEN  1 THEN 'MOVIES' WHEN  2 THEN 'SPORTS' WHEN 3 THEN 'KIDS' WHEN 4 THEN 'NEWS' WHEN 5 THEN 'LIFESTYLE' WHEN 8 THEN 'FOOD' WHEN 9 THEN 'MUSIC' ELSE 'UNKNOWN' END as CATEGORY , PRG.* FROM PRG")

program_df1: org.apache.spark.sql.DataFrame = [CATEGORY: string, PROGRAM_ID: string ... 30 more fields]

In [25]:
program_df1.createOrReplaceTempView("PRG1")


val ProgByYrByCateg = spark.sql("SELECT CATEGORY,Year,COUNT(*) as PROGRAM_COUNT FROM PRG1 WHERE CATEGORY_ID != 'NULL' AND YEAR >= 2008 AND YEAR <= 2019 GROUP BY CATEGORY,Year ORDER BY CATEGORY,YEAR")
ProgByYrByCateg.show()
ProgByYrByCateg.repartition(1).write.mode("Overwrite").option("header", true).csv("./PlotData/ProgByCategByYear/")

+--------+----+-------------+
|CATEGORY|Year|PROGRAM_COUNT|
+--------+----+-------------+
|    FOOD|2008|         2964|
|    FOOD|2009|         3720|
|    FOOD|2010|         2449|
|    FOOD|2011|          652|
|    FOOD|2012|          588|
|    FOOD|2013|          542|
|    FOOD|2014|          671|
|    FOOD|2015|          824|
|    FOOD|2016|         1140|
|    FOOD|2017|         1705|
|    FOOD|2018|         2760|
|    FOOD|2019|         1643|
|    KIDS|2008|         1792|
|    KIDS|2009|         1756|
|    KIDS|2010|         1125|
|    KIDS|2011|          536|
|    KIDS|2012|          449|
|    KIDS|2013|          576|
|    KIDS|2014|          630|
|    KIDS|2015|          965|
+--------+----+-------------+
only showing top 20 rows

ProgByYrByCateg: org.apache.spark.sql.DataFrame = [CATEGORY: string, Year: int ... 1 more field]

In [26]:
// Why is there a downtrend in 2011,12 and 13
val ProgByYear = spark.sql("SELECT Year,COUNT(*) as PROGRAM_COUNT FROM  PRG1 WHERE CATEGORY_ID != 'NULL' AND YEAR >= 2008 AND YEAR <= 2019 GROUP BY YEAR ORDER BY YEAR")
ProgByYear.show()
ProgByYear.repartition(1).write.mode("Overwrite").option("header", true).csv("./PlotData/ProgByYear")

+----+-------------+
|Year|PROGRAM_COUNT|
+----+-------------+
|2008|        18524|
|2009|        20506|
|2010|        13768|
|2011|         3983|
|2012|         3749|
|2013|         4002|
|2014|         4449|
|2015|         5624|
|2016|        11212|
|2017|        14249|
|2018|        15069|
|2019|        13928|
+----+-------------+

ProgByYear: org.apache.spark.sql.DataFrame = [Year: int, PROGRAM_COUNT: bigint]

In [27]:
val promotedPrograms = spark.sql("SELECT p.*,CASE COALESCE(c.PROGRAM_ID,-9999) WHEN -9999 THEN 0 ELSE 1 END as IS_PROMOTED FROM PRG1 p LEFT JOIN CAMPAIGN_PROGRAM c ON p.PROGRAM_ID = c.PROGRAM_ID")

promotedPrograms: org.apache.spark.sql.DataFrame = [CATEGORY: string, PROGRAM_ID: string ... 31 more fields]

In [28]:
promotedPrograms.createOrReplaceTempView("PROGRAM_VIEW")

In [29]:
spark.sql("SELECT IS_PROMOTED,COUNT(*) FROM PROGRAM_VIEW  GROUP BY IS_PROMOTED").show()

spark.sql("SELECT IS_PROMOTED,COUNT(*) FROM PROGRAM_VIEW WHERE YEAR > 2017 GROUP BY IS_PROMOTED").show()

+-----------+--------+
|IS_PROMOTED|count(1)|
+-----------+--------+
|          1|     757|
|          0|  818986|
+-----------+--------+

+-----------+--------+
|IS_PROMOTED|count(1)|
+-----------+--------+
|          1|     454|
|          0|   28572|
+-----------+--------+

In [30]:
 spark.sql("SELECT CATEGORY,YEAR,COUNT(*) as PROGRAM_COUNT FROM PROGRAM_VIEW WHERE IS_PROMOTED = 1 GROUP BY CATEGORY,YEAR ORDER BY CATEGORY,YEAR").show()
val promotedProgsByYearandCategory = spark.sql("SELECT CATEGORY,YEAR,COUNT(*) as PROGRAM_COUNT FROM PROGRAM_VIEW WHERE IS_PROMOTED = 1 AND YEAR >= 2008 AND YEAR <= 2018 GROUP BY CATEGORY,YEAR ORDER BY CATEGORY,YEAR")

+---------+----+-------------+
| CATEGORY|YEAR|PROGRAM_COUNT|
+---------+----+-------------+
|     FOOD|2017|            3|
|     FOOD|2018|            4|
|     FOOD|2019|            1|
|     KIDS|2018|            1|
|LIFESTYLE|null|           30|
|LIFESTYLE|1997|            1|
|LIFESTYLE|1998|            3|
|LIFESTYLE|1999|            4|
|LIFESTYLE|2000|            3|
|LIFESTYLE|2001|            2|
|LIFESTYLE|2003|            2|
|LIFESTYLE|2005|            3|
|LIFESTYLE|2006|            1|
|LIFESTYLE|2007|            2|
|LIFESTYLE|2012|            2|
|LIFESTYLE|2013|            9|
|LIFESTYLE|2014|            4|
|LIFESTYLE|2016|            5|
|LIFESTYLE|2017|          155|
|LIFESTYLE|2018|          268|
+---------+----+-------------+
only showing top 20 rows

promotedProgsByYearandCategory: org.apache.spark.sql.DataFrame = [CATEGORY: string, YEAR: int ... 1 more field]

In [31]:
promotedProgsByYearandCategory.repartition(1).write.mode("Overwrite").option("header", true).csv("./PlotData/PromotedProgByCategByYear")

In [32]:
spark.sql("SELECT par.MASTER_TITLE,Par.CATEGORY,Child.PARENT_PROGRAM_ID,COUNT(*) as PROGRAM_COUNT FROM PROGRAM_VIEW Child LEFT JOIN PROGRAM_VIEW Par ON child.PARENT_PROGRAM_ID = Par.PROGRAM_ID WHERE Child.PARENT_PROGRAM_ID != 'NULL' GROUP BY par.MASTER_TITLE,Par.CATEGORY,Child.PARENT_PROGRAM_ID ORDER BY PROGRAM_COUNT DESC").show()
val longRunningSeries = spark.sql("SELECT par.MASTER_TITLE,Par.CATEGORY,Child.PARENT_PROGRAM_ID,COUNT(*) as PROGRAM_COUNT FROM PROGRAM_VIEW Child LEFT JOIN PROGRAM_VIEW Par ON child.PARENT_PROGRAM_ID = Par.PROGRAM_ID WHERE ((Child.PARENT_PROGRAM_ID != 'NULL' OR CHILD.PARENT_PROGRAM_ID != 'N' OR CHILD.PARENT_PROGRAM_ID != 'Y') AND Par.MASTER_TITLE !='null') GROUP BY par.MASTER_TITLE,Par.CATEGORY,Child.PARENT_PROGRAM_ID ORDER BY PROGRAM_COUNT DESC")

+--------------------+---------+-----------------+-------------+
|        MASTER_TITLE| CATEGORY|PARENT_PROGRAM_ID|PROGRAM_COUNT|
+--------------------+---------+-----------------+-------------+
|                null|     null|                N|        36393|
|                null|     null|                Y|         1505|
|   Plus belle la vie|LIFESTYLE|          4273525|          936|
|          Judge Judy|LIFESTYLE|            21985|          913|
|Classic College F...|   SPORTS|          1091443|          828|
|            Dr. Phil|     FOOD|          3577687|          785|
|        The Simpsons|LIFESTYLE|             7903|          655|
|         Classic NHL|   SPORTS|           884001|          652|
|   Come Dine With Me|     FOOD|         13780714|          637|
|          Doctor Who|LIFESTYLE|           595861|          634|
|Classic College B...|   SPORTS|          1021601|          621|
|                null|     null|                9|          587|
|                Cops|LIFESTYLE|            42820|          547|
|         Law & Order|LIFESTYLE|          1066879|          453|
| Saturday Night Live|LIFESTYLE|           787029|          445|
|The Best of The J...|     FOOD|          2077107|          445|
|   Death Valley Days|LIFESTYLE|           969676|          443|
|      Classic Boxing|   SPORTS|           882232|          435|
|   Antiques Roadshow|     FOOD|             9170|          433|
|America's Funnies...|LIFESTYLE|            38318|          422|
+--------------------+---------+-----------------+-------------+
only showing top 20 rows

longRunningSeries: org.apache.spark.sql.DataFrame = [MASTER_TITLE: string, CATEGORY: string ... 2 more fields]

In [33]:
longRunningSeries.repartition(1).write.mode("Overwrite").option("header", true).csv("./PlotData/LongRunningSeries/")

In [34]:
longRunningSeries.show()

+--------------------+---------+-----------------+-------------+
|        MASTER_TITLE| CATEGORY|PARENT_PROGRAM_ID|PROGRAM_COUNT|
+--------------------+---------+-----------------+-------------+
|   Plus belle la vie|LIFESTYLE|          4273525|          936|
|          Judge Judy|LIFESTYLE|            21985|          913|
|Classic College F...|   SPORTS|          1091443|          828|
|            Dr. Phil|     FOOD|          3577687|          785|
|        The Simpsons|LIFESTYLE|             7903|          655|
|         Classic NHL|   SPORTS|           884001|          652|
|   Come Dine With Me|     FOOD|         13780714|          637|
|          Doctor Who|LIFESTYLE|           595861|          634|
|Classic College B...|   SPORTS|          1021601|          621|
|                Cops|LIFESTYLE|            42820|          547|
|         Law & Order|LIFESTYLE|          1066879|          453|
| Saturday Night Live|LIFESTYLE|           787029|          445|
|The Best of The J...|     FOOD|          2077107|          445|
|   Death Valley Days|LIFESTYLE|           969676|          443|
|      Classic Boxing|   SPORTS|           882232|          435|
|   Antiques Roadshow|     FOOD|             9170|          433|
|America's Funnies...|LIFESTYLE|            38318|          422|
|Law & Order: Spec...|LIFESTYLE|          1745480|          418|
|        A Baby Story|LIFESTYLE|          2125244|          417|
|             Bonanza|LIFESTYLE|            11688|          417|
+--------------------+---------+-----------------+-------------+
only showing top 20 rows

In [35]:
var program_df = program_.withColumn("MONTH",month(program.col("ORIGINAL_ADT")))

program_df: org.apache.spark.sql.DataFrame = [PROGRAM_ID: string, SUBCATEGORY_ID: string ... 29 more fields]

root
 |-- PROGRAM_ID: string (nullable = true)
 |-- SUBCATEGORY_ID: string (nullable = true)
 |-- PROGRAM_SOURCE_ID: string (nullable = true)
 |-- PROGRAM_AIRING_TYPE_ID: string (nullable = true)
 |-- CATEGORY_ID: string (nullable = true)
 |-- CAPTION_ID: string (nullable = true)
 |-- PROGRAM_COLOR_TYPE_ID: string (nullable = true)
 |-- MASTER_TITLE: string (nullable = true)
 |-- RELEASE_YEAR: string (nullable = true)
 |-- EPISODE_TITLE: string (nullable = true)
 |-- EPISODE_NUMBER: string (nullable = true)
 |-- STEREO_ENABLED_YN: string (nullable = true)
 |-- STAR_RATING: string (nullable = true)
 |-- SERIES_YN: string (nullable = true)
 |-- RATING_ID_TV_US: string (nullable = true)
 |-- RATING_ID_MOVIE_US: string (nullable = true)
 |-- SERIES_MASTER_YN: string (nullable = true)
 |-- PARENT_PROGRAM_ID: string (nullable = true)
 |-- RUNTIME: string (nullable = true)
 |-- HDTV_YN: string (nullable = true)
 |-- BRACKET_TEXT: string (nullable = true)
 |-- PART_NUMBER: string (nullable = true)
 |-- PART_TOTAL: string (nullable = true)
 |-- ORIGINAL_ADT: string (nullable = true)
 |-- SUBTITLE: string (nullable = true)
 |-- EVENT_DATE: string (nullable = true)
 |-- TAG: string (nullable = true)
 |-- Cosmo_program_id: string (nullable = true)
 |-- link_region_id: string (nullable = true)
 |-- status_code: string (nullable = true)
 |-- MONTH: integer (nullable = true)

In [64]:
spark.sql("SELECT CONCAT(LPAD(MONTH,2,0),'-',YEAR) as MonthOfYear,COUNT(*) as PROGRAM_COUNT FROM  PRG WHERE CATEGORY_ID != 'NULL' AND YEAR >= 2015 AND YEAR <= 2018 GROUP BY CONCAT(LPAD(MONTH,2,0),'-',YEAR) ORDER BY CONCAT(LPAD(MONTH,2,0),'-',YEAR) asc").show()

+-----------+-------------+
|MonthOfYear|PROGRAM_COUNT|
+-----------+-------------+
|    01-2015|          470|
|    01-2016|          648|
|    01-2017|         1890|
|    01-2018|         1086|
|    02-2015|          411|
|    02-2016|          589|
|    02-2017|         1773|
|    02-2018|          939|
|    03-2015|          417|
|    03-2016|          699|
|    03-2017|         1752|
|    03-2018|         1289|
|    04-2015|          486|
|    04-2016|          676|
|    04-2017|         1259|
|    04-2018|         1157|
|    05-2015|          454|
|    05-2016|          629|
|    05-2017|         1056|
|    05-2018|         1214|
+-----------+-------------+
only showing top 20 rows

In [83]:
spark.sql("SELECT Cosmo_program_id,PROGRAM_AIRING_TYPE_ID,MASTER_TITLE,EPISODE_TITLE FROM PRG WHERE CATEGORY_ID = 'NULL' and MASTER_TITLE != 'INVALID' AND (EPISODE_TITLE != 'NULL')").show(10,false)

+----------------+----------------------+---------------------+---------------------------------+
|Cosmo_program_id|PROGRAM_AIRING_TYPE_ID|MASTER_TITLE         |EPISODE_TITLE                    |
+----------------+----------------------+---------------------+---------------------------------+
|NULL            |NULL                  |Never the Twain      |Reading Between the Lines        |
|NULL            |NULL                  |On the Buses         |The Football Match               |
|NULL            |NULL                  |How It's Made        |Safes                            |
|NULL            |NULL                  |My Parents Are Aliens|Aliens Go Home                   |
|NULL            |NULL                  |Nestor Burma         |Nestor Burma et la belle de Paris|
|NULL            |NULL                  |Two Fat Ladies       |Dinner                           |
|NULL            |NULL                  |Secret Lives of Women|Surgeons                         |
|NULL            |NULL                  |Kabouter Plop        |De klok van Plop                 |
|NULL            |NULL                  |Sous le soleil       |Diagnostic : Jalousie            |
|NULL            |NULL                  |ZingZillas           |Digeridoo Hullaballoo            |
+----------------+----------------------+---------------------+---------------------------------+
only showing top 10 rows

2019-03-25 00:46:44 WARN  HeartbeatReceiver:66 - Removing executor driver with no recent heartbeats: 7210036 ms exceeds timeout 120000 ms
2019-03-25 00:46:44 ERROR TaskSchedulerImpl:70 - Lost executor driver on localhost: Executor heartbeat timed out after 7210036 ms
2019-03-25 00:46:44 WARN  SparkContext:66 - Killing executors is not supported by current scheduler.